body {
    padding-top: 0px;
    background-color: #1f3559;
}

/*HEADER STYLES*/
#logoImg {
    width: 200px;
}

div.page-header {
    margin-top: 0px;
    background-color: #1f3559;
    padding-top: 20px;
    margin-bottom: 0px;
    color:white;
}

h1.container {
    background-color: #1f3559;
    margin-top: 0px;
    padding-top: 5px;
}

/*NAVBAR STYLES*/
nav#navvy.navbar.navbar-static-top {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #1f3559;
    background-color: #1f3559;
}

#navvy a {
    color: #FFF6F0;
}

    #navvy a:hover {
        background: none;
    }

/*Button*/
button.navbar-toggle {
    border: 1px solid #FFF6F0;
}

span.icon-bar {
    border: 1px solid #FFF6F0;
}

